/** Brand **/

/**
 * @color Primary
 * @section Brand
 */
$color--brand--primary: #000;

/**
 * @color Secondary
 * @section Brand
 */
$color--brand--secondary: #ff9f00;

/**
 * @color Light secondary
 * @section Brand
 */
$color--brand--light-secondary: #ffbc4d;

/** Neutral **/

/**
 * @color Titles
 * @section Neutral
 */
$color--neutral--titles: #333E48;

/**
 * @color Body
 * @section Neutral
 */
$color--neutral--body: #7A8B90;

/**
 * @color Soft grey
 * @section Neutral
 */
$color--neutral--soft-grey: #F4F4F4;

/**
 * @color White
 * @section Neutral
 */
$color--neutral--white: #FFFFFF;

/**
 * @color Medium grey
 * @section Neutral
 */
$color--neutral--medium-grey: #E5E5E5;

/** UI **/

 /**
  * @color Error default
  * @section UI
  */
 $color--ui--error-default: #F54B5E;


/**
 * @color Error active
 * @section UI
 */
$color--ui--error-active: #FBB7BE;