/**
 * @atom Button
 * @section Buttons
 * @modifiers
 *  .btn-secondary secondary button
 * @markup
 *  <div style="background: white; padding: 10px; width: fit-content; border-radius: 4px;">
 *      <button class="btn">Text here</button>
 *      <button class="btn btn-secondary">Text here</button>
 *  </div>
 */
.btn {
    height: 52px;
    padding: 0px 30px;
    color: $color--neutral--white;
    background: $color--brand--primary;
    border: $color--neutral--titles;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    @include helvetica_neue_medium;
    transition: .2s ease;

    &:hover {
        background-color: $color--neutral--titles;
        cursor: pointer;
    }
    &.btn-secondary {
        color: $color--brand--primary;
        background-color: $color--brand--secondary;
        border: 1px solid $color--brand--primary;
        &:hover {
            color: $color--brand--primary;
            border-color: $color--brand--light-secondary;
            background-color: $color--brand--light-secondary;
        }
        &:active {
            border-style: solid;
        }
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:active {
        border-style: initial;
    }
}
